---
layout: page
---

<!-- resources.html -->
<div class="post">

  <article>
    {% if page.resources %}
      {% for category in page.resources %}
        <br><br>
        <h2>{{ category.subject }}</h2>
        {% for resource in category.items %}
          <hr>
          <div class="resource" style="display: flex; justify-content: space-between; align-items: center;">
            <div>
              <h4>{{ resource.title }}</h4>
              <p>{{ resource.description }}</p>
            </div>
            <a href="{{ resource.link }}" target="_blank" style="text-decoration: none;">
              {% case resource.type %}
                {% when 'pdf' %}
                  <i class="fas fa-file-pdf" style="font-size: 24px;"></i>
                {% when 'video' %}
                  <i class="fas fa-video" style="font-size: 24px;"></i>
                {% when 'article' %}
                  <i class="fas fa-newspaper" style="font-size: 24px;"></i>
              {% endcase %}
            </a>
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}
  </article>

</div>
